@font-face {
	font-family: 'ProximaNovaRegular';
	src: url('./ProximaNovaRegular.eot');
	src: local('ProximaNovaRegular'), url('./ProximaNovaRegular.woff') format('woff'), url('./ProximaNovaRegular.ttf') format('truetype');
}
/***************************************************************************/
:root{
    --headingfont:'ProximaNovaRegular';
}
/***************************** DEFAULTS ***************************************/
body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family:var(--headingfont);
	/* overflow:hidden; */
}
*::before,*::after{
	box-sizing: border-box;
}
*{
    box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
h1,h2{
    margin: 0;
}
.bookcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
.book{
    height:25rem;
    width:25rem;
    margin: 2rem;
    /*flex-basis: 30%;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* overflow: hidden; */
   /* margin-bottom: 5%;*/
    border-radius: 1%;
    background:rgb(246, 246, 246);
}
.bookpic{
    flex-basis: 50%;
    background-size: cover;
    background-position: 50% 50%;
}
.book img{
    width: 100%;
}
.bookinfo *{
    margin: 0;
    padding: 0;
}
.bookinfo{
    flex-basis: 50%;
    padding: 10% 5%;
}
.bookinfo .title{
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 5%;
    color: #5a5a5a;
}
.bookinfo .author{
    font-size: 1.03rem;
    color: #ececec;
    color:#8a8a8a;
    font-style: normal;
}
.book{
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
/* controls */
.bookinfo{
    position: relative;
}
ul.controls{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    overflow: hidden;
}
ul.controls li{
    color:red;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    flex-basis: 33%;
    flex-grow: 1;
    display: flex;
}
.controls a{
    display: block;
    position: relative;
    text-decoration: none;
    margin: auto;
    padding: 1rem 1rem;
}
.controls a::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .3);
    transition: opacity 0.3s ease;    
}
.controls a:hover::after{
    opacity: 1;
}
svg{
    max-width: 100%;
}
.icon--2x {
    font-size: 2rem;
}
svg.icon{
    display: inline-block;
    font-size: 1rem;
    height: 1em;
    vertical-align: middle;
    width: 1em;
    fill: #24b15e;
    font-size: 1.4rem;
    opacity: 0.9;
    transition:opacity 0.3s ease;
}
.controls a:hover svg.icon {
    opacity: 1;
}
svg.deletesvg{
    fill: #e34a4a;
}
.invisible {
    left: -999px;
    overflow: hidden;
    position: absolute;
    top: -999px;
}
.deleteme{
    animation:deleteanimation 1.5s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    transform-origin: 100% 0%;
}
@keyframes deleteanimation {
    0% {
        opacity: 1;
        transform: rotateZ(0);
    }
    100% {
        opacity: 0;
        transform: translateY(600px) rotateZ(-90deg);
    }
}
.hideme{
    display: none;
}